---
import Base from "../layouts/Base.astro";
import { socialLinks } from "../config";
import { Image } from "astro:assets";
---

<Base>
  <section>
    <a href={socialLinks.twitter} target="_blank">
      <Image
        src={`${import.meta.env.BASE_URL}profile.png`}
        alt="Profile photo"
        class="rounded-full bg-gray-100 block lg:mt-5 mt-0 lg:mb-5 mb-10 mx-auto sm:float-right sm:ml-5 sm:mb-5 grayscale hover:grayscale-0"
        width={160}
        height={160}
      />
    </a>

    <h1 class="mb-2 text-2xl font-medium tracking-tight">
      About me
    </h1>

    <div class="prose prose-neutral dark:prose-invert homepage-links">
      <p>I am an assistant professor at the <a href="https://econ.au.dk/">Department of Economics and Business Economics</a> at <a href="https://international.au.dk/">Aarhus University</a>.</p> 
      <p>I am mostly interested in labor economics, particularly the interplay between labor market dynamics and public policy.</p>
      <p>My work usually employs a mix of structural and reduced-form approaches that exploit administrative microdata.</p>
   
      <h1 class="mb-2 text-2xl font-medium tracking-tight">
        Contact
      </h1>
      <p>
        Department of Economics and Business Economics <br>
        Aarhus BSS, Aarhus University <br>
        Universitetsbyen 51 <br>
        Bld. 1811, office 219 <br>
        8000 Aarhus C, Denmark
      </p>
    </div>
  </section>
</Base>
